<div>
<img src="https://drive.google.com/uc?export=view&id=1vK33e_EqaHgBHcbRV_m38hx6IkG0blK_" width="350"/>
</div> 

# **Artificial Intelligence - MSc**
ET5003 - MACHINE LEARNING APPLICATIONS 

### Instructor: Enrique Naredo
### ET5003_Lab-0.1
### Student Name: Xiaoming Zhang
### Student No.: 20158327

# Python Basics

### Markdown Examples

This is **bold**. 

This is *italic*. 

This is ~strikethrough~.

Mathematical Equations

$\sqrt{3x-1}+(1+x)^2$

$e^x=\sum_{i=0}^\infty \frac{1}{i!}x^i$

### Python Comments

In [1]:
# This is a single line comment

In [2]:
'''
THIS IS A MULTILINE COMMENT
USING STRING LITERALS!
'''

'\nTHIS IS A MULTILINE COMMENT\nUSING STRING LITERALS!\n'

In [3]:
"""
This is a comment
written in
more than just one line
"""

'\nThis is a comment\nwritten in\nmore than just one line\n'

### Python Indentation

In [4]:
## Good indentation

if 10 > 5:
  print("Ten is greater than five!")

Ten is greater than five!

In [6]:
## Wrong indentation
# add blank spaces to get the right indentation

if 10 > 5:
    print("Ten is greater than five!")

Ten is greater than five!

### Python Variables

In [7]:
x = 10
y = "Hello, Friend!"

In [8]:
z = "Celtics"
# is the same as
z = 'Celtics'

In [9]:
a = 4
# is NOT the same as
A = 4

In [10]:
a

4

In [11]:
A

4

In [12]:
# Legal variable names

myvar   = "Anything"
my_var  = "Anything"
_my_var = "Anything"
myVar   = "Anything"
MYVAR   = "Anything"
myvar2  = "Anything"

In [13]:
MYVAR

'Anything'

In [14]:
# Camel Case
myVariableName = "Something"

In [15]:
# Pascal Case
MyVariableName = "Something"

In [16]:
# Snake Case
my_variable_name = "Something"

In [18]:
# Invent your own case
my_Variable_NAME = "Something"

In [19]:
# Many Values to Multiple Variables
alpha, beta, gamma = "Anything", "Something", "Whatever"
print(alpha)
print(beta)
print(gamma)

Anything
Something
Whatever

In [20]:
# One Value to Multiple Variables
alpha = beta = gamma = "Everything"
print(alpha)
print(beta)
print(gamma)

Everything
Everything
Everything

### End