<div>
<img src="https://drive.google.com/uc?export=view&id=1vK33e_EqaHgBHcbRV_m38hx6IkG0blK_" width="350"/>
</div> 

# **Artificial Intelligence - MSc**
ET5003 - MACHINE LEARNING APPLICATIONS 

### Instructor: Enrique Naredo
### ET5003_Lab-0.10
### Student Name: Xiaoming Zhang
### Student No.: 20158327

# Pandas exercise

In [1]:
import pandas as pd
import numpy as np

# Problem 6
Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

Notes:
Do you know what percentile and median are? If no, see  <a href="https://en.wikipedia.org/wiki/Percentile">percentile</a> and <a href="https://en.wikipedia.org/wiki/Median">median</a>.

In [2]:
# input
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

In [3]:
print(ser)
result = np.percentile(ser, q=[0, 25, 50, 75, 100])
print("\nMinimum, 25th percentile, median, 75th, and maximum of a given series:")
print(result)

0      1.251173
1     11.713402
2     15.765179
3      8.737820
4     14.906604
5     12.571094
6     11.105898
7      4.649783
8      9.052521
9     11.275007
10     7.709865
11    12.175817
12     7.082025
13    14.084235
14    13.363604
15     9.477944
16     7.343598
17    15.148663
18     7.809322
19     4.408409
20    18.094908
21    17.708026
22     8.740604
23     5.787821
24    10.922593
dtype: float64

Minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 1.25117263  7.70986507 10.92259345 13.36360403 18.0949083 ]

# Problem 7 

Calculate the frequency counts of each unique value ser.

In [4]:
# input
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [5]:
ser

0     d
1     b
2     f
3     g
4     d
5     c
6     g
7     e
8     b
9     a
10    g
11    h
12    b
13    g
14    f
15    h
16    a
17    c
18    e
19    d
20    c
21    g
22    h
23    c
24    e
25    e
26    c
27    b
28    d
29    c
dtype: object

In [6]:
print(ser.value_counts())

c    6
g    5
b    4
e    4
d    4
h    3
f    2
a    2
dtype: int64

# Problem 8

From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

In [7]:
# input
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser

0     4
1     1
2     4
3     4
4     1
5     1
6     4
7     1
8     4
9     4
10    2
11    3
dtype: int64

In [8]:
value_counts = ser.value_counts()

In [9]:
print(value_counts)

4    6
1    4
3    1
2    1
dtype: int64

In [10]:
top_2_values = value_counts[:2].index
print(top_2_values)

Int64Index([4, 1], dtype='int64')

In [11]:
for i in range(len(ser)):
    if ser[i] != top_2_values[0] and ser[i] != top_2_values[1]:
        ser[i] = 'Other'
print(ser)

0         4
1         1
2         4
3         4
4         1
5         1
6         4
7         1
8         4
9         4
10    Other
11    Other
dtype: object

# Problem 9
Bin the series ser into 10 equal deciles and replace the values with the bin name.

In [12]:
# input
ser = pd.Series(np.random.random(20))
ser

#Solution  is provided:
pd.qcut(ser, q = 10)
# we can also pass labels
pd.qcut(ser, q = [0, .10, .20, .30, .40, .50, .60, .70, .80, .90, 1], labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0    8th
1    8th
2    7th
3    9th
4    4th
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

# Problem 10

From ser, extract the items at positions in list pos.

In [13]:
# input

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [14]:
print("Original Series:")
print(ser)
result = ser.take(pos)
print("\nExtract items at given positions of the said series:")
print(result)

Original Series:
0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

Extract items at given positions of the said series:
0     a
4     e
8     i
14    o
20    u
dtype: object

### End